<footer class="inner">
  <h3>{{ site.title }}</h3>
  <div class="footer-col-1">
    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
  </div>
  <div class="footer-col-2">
    <p>Willkommen auf der Webseite der Jungen Pfarre Baden St. Stephan. Wir freuen uns darauf, dich kennenzulernen! :-) Im <a href="{{ site.baseurl }}{% link kalender.md %}">Kalender</a> steht, wann und wo du mit uns gemeinsam Jesus nachfolgen kannst.</p>
    <p>Die allgemeine Webseite der Pfarre findest du <a href="http://www.baden-st-stephan.at/">hier</a>.</p>
  </div>
</footer>
